.header{
    height: 50px;
    line-height: 50px;
    background-color: black;
    text-align: center;
    a{  
        display: block;
        font-size: 18px;
        color: #ffffff;
    }
}
.banner{
    height: 874px;
    position: relative;
    .list{
        position: absolute;
        top: 55px;
        right: 220px;
        width: 310px;
        height: 300px;
        z-index: 40;
        border: 3px solid skyblue;
        padding:10px;
        box-sizing: border-box;
        display: none; 
        background-color: #fff;
        ul{
            position: absolute;
            top: -17px;
            right: 0px;
            width: 265px;
            list-style: none;
            li{
                width: 100%;
                height: 30px;
                font-size: 24px;
                line-height: 30px;
                cursor: pointer;
                list-style: none;
                font-size: 15px;
                &:hover{
                background-color: #cccccc;
                color: #fff;
                }
            }
            
        }
        &.active {
            display: block;
        }
       
    }
    .banner-hide{
        width: 100%;
        height: 200px;
        background-color:#ffffff;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        top: 76px; 
        z-index:40;
        display: none;         
        ul{
            width: 150px;
            height: 200px;
            h4{
                font-size: 15px;
            }
            li{
                list-style: none;
                a{
                    font-size: 12px;
                    text-decoration: none;
                }
            }
            
        }
    }
    .banner-top{
        width: 100%;
        height: 76px;
        display: flex;
        overflow: hidden;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
        z-index: 10;
        .banner-top-left{
            width: 900px;
            margin-left: 20px;
            margin-top: 10px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            position: relative;
            img{
            width: 174px;
            height: 24px;
            }
            ul{
                width: 680px;
                height: 25px;
                li{
                    list-style: none;
                    width: 84px;
                    height: 20px;
                    float: left;
                    a{
                        text-decoration: none;
                        color: #ffffff;
                    }

                }
            }
        }
        .banner-top-right{
            flex: 1;
            width: 163px;
            height: 33px;
            display: flex;
            justify-content: center;
            align-items: center;
            input{
                width: 250px;
                height: 30px;
                padding-left: 20px;
            }
            
           button{
               width: 30px;
               height: 30px;
               border: none;
               outline: none;
               cursor: pointer;
               background-color:black;
            img{
                display: block;
                width: 30px;
                height: 30px;
            }
           }
            #zh{
               display: block;
               width: 30px;
               height: 30px;
               margin-left: 20px;
            }
            #shop{
               display: block;
               width: 30px;
               height: 30px;
               margin-left: 20px;   
            }
       
    }
    .swiper-container{
        .swiper-wrapper{
            height:874px;
            img{
                width: 100%;
                height:100%;
            }
        }
    }
    &:hover{
        background-color: #ffffff;
        .banner-top-left ul li a{
            color: black;
        }
        .banner-top-right img{
            background-color: black;
        }
    }
    
}
}


.center{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    h3{
        font-size: 18px;
        margin-top: 230px;
    }
}
.pictures{
    height: 800px;
    .swiper-container{
        .swiper-wrapper{
            height:800px;
            img{
                width: 100%;
                height:100%;
            }
        }
    }
}
.shop{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    h4{
        font-size: 18px;
        margin-top: -110px;
        a{
            text-decoration: none;
            color: black;
        }
    }
}
.warm{
    position: relative;
    img{
        display: block;
        width: 100%;
        height: 100%;
    }
    .warm2{
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        h2{
            color: #ffffff;
            margin: 20px auto;
           
        }
        span{
            width: 65px;
            height: 44px;
            margin-right: 20px;
            border: 1px solid #ffffff;
            color: #ffffff;
            padding: 10px;
            box-sizing: border-box;
        }
    }
}
.bag{
    position: relative;
    img{
        display: block;
        width: 100%;
        height: 100%;
    }
    .bag2{
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        h2{
            color: #ffffff;
            margin: 20px auto;
           
        }
        span{
            width: 65px;
            height: 44px;
            margin-right: 20px;
            border: 1px solid #ffffff;
            color: #ffffff;
            padding: 10px;
            box-sizing: border-box;
        }
    }
}
.choose{
    height: 153px;
    display: flex;
    align-items: center;
    ul{
        list-style: none;
        height: 100px;
        padding-left: 36px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        overflow: hidden;
        span{
            width: 80px;
            height: 20px;
            margin-bottom: 18px;
            margin-top: -40px;
        }
        li{
            width: 145px;
            height: 22px;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }
}
.tell{
    height: 134px;
    background-color: gray;
    display: flex;
    align-items: center;
    .tell-left{
        padding-left: 36px;
        span{
        display: inline-block;
        width: 327px;
        height: 20px;
        margin-bottom: 20px;
        font-size: 20px;
        }
       
    }
    .tell-center{
        padding-left: 36px;
        span{
        width: 327px;
        height: 20px;
        font-size: 20px;
        }
        p{
            margin-top: 20px;
        }
        a{
            color: black;
        }
    }
    .tell-right{
        padding-left: 100px;
        span{
        display: block;
        width: 327px;
        height: 20px;
        font-size: 20px;
        }
        img{
            display: inline-block;
            margin-top: 20px;
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }
    }
}
.about{
    height: 57px;
    display: flex;
    align-items: center;
    padding-left: 36px;
    position: relative;
    overflow: hidden;
    span{
        width: 181px;
        height: 50px;
        margin-right: 70px;
        margin-top: 20px;
    }
   /*  .about-left{
        width: 362px;
        height: 273px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* display: none; */
        /* ul{
            width: 182px;
            li{
                list-style: none;
                width: 146px;
                height: 25px;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    } */ 
    
    .about-right{
        flex: 1;
        height: 50px;
        width: 230px;
        position: absolute;
        right: 136px;
        ul{
            display: flex;
            align-items: center;
            width: 280px;
            height: 24px;
            overflow: hidden;
            span{
                display: block;
                width: 72px;
                height: 14px;
                margin-top: -10px;
            }
            li{
                list-style: none;
                line-height: 1;
                width: 88px;
                height: 18px;
                margin-right: 5px;
                a{
                    color: black;
                }
            }
        }
    }
}



