html, body {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
  }
  .info userinfo container{
      margin: 0 auto;
      width: 512px;
      height: 500px;
      
  }
  .info {
    margin: auto;
    
  }
  .info .login,
  .info .register {
    display: inline;
  }
  
  input.error {
    border: 1px solid red;
  }
  
  label.error {
    color: red;
  }
  
  .login_error {
    color: red;
  }
  

  